In [8]:
import pandas as pd
df = pd.read_csv('nyc_weather.csv')
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [9]:
# Find the maximum temperature
df['Temperature'].max()

50

In [10]:
# Find all the days when rain has happened.
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [11]:
missing_val_count_by_column = (df.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

WindSpeedMPH     3
Events          22
dtype: int64

In [12]:
# Fins the mean wind speed
df['WindSpeedMPH'].mean()

6.892857142857143

In [13]:
df.fillna(0, inplace=True)
missing_val_count_by_column = (df.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])
df['WindSpeedMPH'].mean()

Series([], dtype: int64)

6.225806451612903