<h1 style="color:blue" align="center">Pandas Time Series Analysis Tutorial: Handling Holidays</h1>


We will see how to handle holiday in timeseries data

In [1]:
import pandas as pd
df = pd.read_csv("aapl_no_dates.csv")
df.head()

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [2]:
# make the frequenceis as bussinessday 
rng = pd.date_range(start="7/1/2017", end="7/21/2017", freq='B')
rng

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

**Using 'B' frequency is not going to help because 4th July was holiday and 'B' is not taking that into account. 
It only accounts for weekends**

<h3 style="color:purple">Using CustomBusinessDay to generate US holidays calendar frequency</h3>

In [3]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

us_cal = CustomBusinessDay(calendar=USFederalHolidayCalendar())
us_cal

In [4]:
# now we can use us_cal as frequencies

rng = pd.date_range(start="7/1/2017",end="7/23/2017", freq=us_cal)
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [5]:
df.set_index(rng, inplace=True)
df # here we dont have 4th July in our dataset

              Open    High     Low   Close    Volume
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-10  144.11  145.95  143.37  145.06  21090636
2017-07-11  144.73  145.85  144.38  145.53  19781836
2017-07-12  145.87  146.18  144.82  145.74  24884478
2017-07-13  145.50  148.49  145.44  147.77  25199373
2017-07-14  147.97  149.33  147.33  149.04  20132061
2017-07-17  148.82  150.90  148.57  149.56  23793456
2017-07-18  149.20  150.13  148.67  150.08  17868792
2017-07-19  150.48  151.42  149.95  151.02  20922969
2017-07-20  151.50  151.74  150.19  150.34  17243748
2017-07-21  149.99  150.44  148.88  150.27  26252630

**You can define your own calendar using AbstractHolidayCalendar as shown below. USFederalHolidayCalendar is the only calendar available in pandas library and it serves as an example for those who want to write their own custom calendars. Here is the link for USFederalHolidayCalendar implementation** https://github.com/pandas-dev/pandas/blob/master/pandas/tseries/holiday.py

In [6]:
# create a custome calender with holiday which will include new year, makar sankranti, replublic day, holi, bihar diwas etc
import pandas as pd
from pandas.tseries.holiday import *
from pandas.tseries.offsets import CustomBusinessDay

class BiharBusinessCalendar(AbstractHolidayCalendar):
   rules = [
     Holiday('New Year', month=1, day=1),
     Holiday('Makar Sankranti/ Pongal/ Bhogi', month=1, day=15),  
     Holiday('Republic Day', month=1, day=26),
     Holiday('Holi', month=3, day=10),
     Holiday('Bihar Diwas', month=3, day=22)
   ]

Bihar_BD = CustomBusinessDay(calendar=BiharBusinessCalendar())
s = pd.date_range('2020-01-01', end='2020-03-31', freq=Bihar_BD)
df = pd.DataFrame(s, columns=['Date'])
print(df)

         Date
0  2020-01-02
1  2020-01-03
2  2020-01-06
3  2020-01-07
4  2020-01-08
..        ...
57 2020-03-25
58 2020-03-26
59 2020-03-27
60 2020-03-30
61 2020-03-31

[62 rows x 1 columns]