<h1 style="color:blue" align="center">Pandas Time Series Analysis: Period and PeriodIndex</h1>

<h3 style="color:purple">Yearly Period</h3>

In [1]:
import pandas as pd
y = pd.Period('2016') # create a period object
y

Period('2016', 'A-DEC')

In [2]:
# properties of this period
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [3]:
# start time of period
y.start_time

Timestamp('2016-01-01 00:00:00')

In [4]:
# end time of period
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [27]:
y+1

Period('2017', 'A-DEC')

<h3 style="color:purple">Monthly Period</h3>

In [28]:
# create a monthly time period
m = pd.Period('2016-1', freq='M')
m

Period('2016-01', 'M')

In [7]:
m.start_time # 1st Jan

Timestamp('2016-01-01 00:00:00')

In [8]:
m.end_time # 31st Jan

Timestamp('2016-01-31 23:59:59.999999999')

In [29]:
m+1

Period('2016-02', 'M')

<h3 style="color:purple">Daily Period</h3>

In [13]:
# create a daily time period
# by default it will use daily as frequency
d = pd.Period('2017-02-28')
d

Period('2017-02-28', 'D')

In [14]:
d = pd.Period('2017-02-28', freq='D')
d

Period('2017-02-28', 'D')

In [16]:
# it will take to next day
d+1

Period('2017-03-01', 'D')

In [20]:
# check this with leap year
d = pd.Period('2016-02-28')
d

Period('2016-02-28', 'D')

In [22]:
# it will take to next day
# the 29th Feb as 2016 is the leap year
d+1

Period('2016-02-29', 'D')

<h3 style="color:purple">Hourly Period</h3>

In [23]:
# create an hourly frequency
h = pd.Period('2016-02-28 23:00:00', 'H')
h

Period('2016-02-28 23:00', 'H')

In [24]:
h.start_time

Timestamp('2016-02-28 23:00:00')

In [25]:
h.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [26]:
h+1

Period('2016-02-29 00:00', 'H')

In [31]:
# Achieve same results using pandas offsets hour</h4>
h+pd.offsets.Hour(1)

Period('2016-02-29 00:00', 'H')

<h3 style="color:purple">Quarterly Period</h3>

In [32]:
q = pd.Period('2017Q1')
q

Period('2017Q1', 'Q-DEC')

In [33]:
q+1

Period('2017Q2', 'Q-DEC')

In [34]:
# for some companies like walmart whose financial periods start with feb and ends with jan

q = pd.Period('2017Q1', freq='Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [35]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [36]:
q.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [37]:
q.asfreq('M', how='start')

Period('2016-02', 'M')

In [38]:
q.asfreq('M', how='end')

Period('2016-04', 'M')

In [39]:
q2 = pd.Period('2018Q2', freq='Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [40]:
q2-q

<h3 style="color:purple">Weekly Period</h3>

In [52]:
w = pd.Period('2017-07-05',freq='W')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [53]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [54]:
w2 = pd.Period('2017-08-15',freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [55]:
w2-w

<h3 style="color:purple">PeriodIndex and period_range</h3>

In [43]:
# create some period index between 2011 and 2017
idx = pd.period_range('2011', '2017', freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

**Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017**

In [46]:
idx = pd.period_range('2011', '2017', freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [48]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [82]:
str(idx[0].end_time)[:10]

'2011-01-31'

In [79]:
print(test.date)

<built-in method date of Timestamp object at 0x7fad8d187a48>

<h3 style="color:purple">Processing Wal Mart's Financials</h3>

In [83]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [84]:
# set_index on Line Item column
df.set_index('Line Item', inplace=True )
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [85]:
# trnaspose the table
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [86]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [87]:
# convert the index into period type
df.index = pd.PeriodIndex(df.index, freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [88]:
# create the start date column
# take the each quater and then find the start date
df['start date'] = df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [89]:
# create the end date column
# take the each quater and then find the end date
df['end date'] = df.index.map(lambda x: str(x.end_time)[:10])
df

Line Item  Revenue  Expenses  Profit start date    end date
2017Q1      115904     86544   29360 2016-02-01  2016-04-30
2017Q2      120854     89485   31369 2016-05-01  2016-07-31
2017Q3      118179     87484   30695 2016-08-01  2016-10-31
2017Q4      130936     97743   33193 2016-11-01  2017-01-31
2018Q1      117542     87688   29854 2017-02-01  2017-04-30